<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.productionurl }}">Home</a></li>
        <li class="nav-research {% if page.url contains 'research' %} nav-current{% endif %}" role="presentation"><a href="{{ site.productionurl }}/research/">Research</a></li>
        <li class="nav-CV {% if page.url contains 'CV' %} nav-current{% endif %}" role="presentation"><a href="{{ site.productionurl }}/CV/">CV</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.productionurl }}rss.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
